.light-grey {
  color: #616770;
  font-size: 14px;
  font-weight: 400;
}
.lightest-grey {
  color: #616770;
  font-size: 12px;
  font-weight: 400;
}

.blue {
  color: #385898;
  font-weight: 600;
  text-decoration: none;
  font-size: 14px;
}

.black-bold {
  font-size: 16px;
  font-weight: 600;
}

@font-face {
  font-family: "Helvatica";
  src: url("./fonts/Helvetica.ttf");
}

body {
  font-family: "Helvatica", serif;
  background-color: #e9ebee;
  display: flex;
  justify-content: center;
}

.d-flex {
  display: flex;
}

.align-items-center {
  align-items: center;
}

.justify-content-around {
  justify-content: space-around;
}

.uppercase {
  text-transform: uppercase;
}

.p-2 {
  padding: 10px;
}

.pr-1 {
  padding-right: 5px;
}

.pr-2 {
  padding-right: 10px;
}

.pt-1 {
  padding-top: 5px;
}

.pb-1 {
  padding-bottom: 5px;
}

.pb-2 {
  padding-bottom: 10px;
}
.pb-3 {
  padding-bottom: 15px;
}

.fb-post-container {
  width: 514px;
  box-sizing: border-box;
  background: white;
  border-radius: 2px;
  margin: 20px;
}

.fb-post-desc {
  background: #f2f3f5;
  padding: 10px;
}
